<div class="container">
  <app-footer></app-footer>
  <div class="card">
    <div class="card-block block">
      <h2 class="text-center">Daily Matches</h2>
      <div class="match">
        <img src="http://placehold.it/300x300">
        <div class="text-wrap">
          <h3>Chris Cates</h3>
          <p>Likes helping people in need. Is a serial entrepreneur and angel investor.
          I build scalable Software and Architecture.</p>
          <div class="button-wrap">
            <a class="plus-button">Match with Chris</a>
          </div>
        </div>
      </div>
      <div class="match">
        <img src="http://placehold.it/300x300">
        <div class="text-wrap">
          <h3>Chris Cates</h3>
          <p>Likes helping people in need. Is a serial entrepreneur and angel investor.
          I build scalable Software and Architecture.</p>
          <div class="button-wrap">
            <a class="plus-button">Match with Chris</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
