<div class="container">
  <app-footer></app-footer>
  <div class="card">
    <div class="card-block block">
      <h2 class="text-center">Chris Cates' Profile</h2>
      <img src="http://placehold.it/300x300">
      <p class="label">About Me</p>
      <textarea></textarea>
      <p class="label">Interests</p>
      <textarea></textarea>
      <p class="label">Profession</p>
      <input type="text"/>
      <p class="label">Language Preference</p>
      <input type="text"/>
      <p class="label">Has Family?</p>
      <input type="text"/>
      <a class="plus-button">Update Profile</a>
    </div>
  </div>
</div>
