<div class="container">
  <app-footer></app-footer>
  <div class="card">
    <div class="card-block block">
      <h2 class="text-center">Contact List</h2>
      <div class="match">
        <img src="http://placehold.it/300x300">
        <div class="text-wrap">
          <h3>Chris Cates</h3>
          <div class="button-wrap">
            <a class="plus-button">About Chris</a>
            <a class="plus-button" routerLink="/message">Chat with Chris</a>
          </div>
        </div>
      </div>
      <div class="match">
        <img src="http://placehold.it/300x300">
        <div class="text-wrap">
          <h3>Chris Cates</h3>
          <div class="button-wrap">
            <a class="plus-button">About Chris</a>
            <a class="plus-button" routerLink="/message">Chat with Chris</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
