<div class="container">
  <app-footer></app-footer>
  <div class="send-message">
    <textarea placeholder="Send a message"></textarea>
    <a class="small-btn">SEND</a>
  </div>
  <div class="card">
    <div class="card-block block">
      <h2 class="text-center">Chatting with Chris Cates</h2>
      <div class="message">
        <img src="http://placehold.it/300x300">
        <div class="text-wrap">
          <p>Hello, this is a message on plus one.</p>
        </div>
      </div>
      <div class="message reverse">
        <img src="http://placehold.it/300x300">
        <div class="text-wrap">
          <p>Hello, this is a message on plus one.</p>
        </div>
      </div>
      <div class="message">
        <img src="http://placehold.it/300x300">
        <div class="text-wrap">
          <p>Hello, this is a message on plus one.</p>
        </div>
      </div>
      <div class="message reverse">
        <img src="http://placehold.it/300x300">
        <div class="text-wrap">
          <p>Hello, this is a message on plus one.</p>
        </div>
      </div>
    </div>
  </div>
</div>
